ZombieBird
===
Arcade game for Android

Requirements
===
### 1. Program interfaces

This project will look like a usual android application Floppy Bird and it will be written using libGDX.

### 2. User interface

When the application starts, the user will see game start menu with PLAY button.

### 3. User characteristics

This application will be made for young people from 10 to 20 years old.

### 4. Suqqestions and dependencies

It can be difficult to run this application on devices with old versions of android.


System requirements
===
1. Ability to create a new game session
2. Ability to display a high score in menu
3. Ability to set new high score


Analogs
===
1. Floppy Bird 
